# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
instance/
.venv/
venv/

# Flask specific
*.log

# Flutter/Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
android/.gradle/
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# System files
.DS_Store
Thumbs.db

# Other
screenshots/
delete.py
login.py
